#tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px solid #333;
    cursor: pointer;
}
